NEXT_PUBLIC_APP_NAME="huellas"
NEXT_PUBLIC_LOGO_URL="https://i.ibb.co/j9gDgkyB/image.png"
NEXT_PUBLIC_CONTACT_EMAIL="contacto@huellas.org"
NEXT_PUBLIC_CONTACT_PHONE="+52 55 1234 5678"
NEXT_PUBLIC_CONTACT_ADDRESS="Av. de las Flores 123, CDMX, México"
NEXT_PUBLIC_CONTACT_HOURS="Lun a Vie, 9:00 - 18:00"
